[submodule "triton_puzzle"]
	path = triton_puzzle
	url = https://github.com/SiriusNEO/Triton-Puzzles-Lite.git
[submodule "Gemm/3rdparty/cutlass"]
	path = Gemm/3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
